main {
    margin-top: 120px;

    .cards {
        font-size: 32px;
        text-align: center;
        margin: 40px 0;
        color: blue;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20px;
        row-gap: 40px;
        margin-bottom: 80px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;       
    }
}